# JetBrains IntelliJ
.idea/
*.iml
*.ipr
*.iws
# SASS
.sass-cache/
# Simple Build Tool
target/
lib_managed/
src_managed/
project/boot/
.history
.cache
# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

